<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>User Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">MetaPortal</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="${'editSkills?id=' + employee.empCode}">EditSkills |</a> </li>
				<li><a th:href="${'editProfile?id=' + employee.empCode}">EditProfile |</a> </li>
				<li><a th:href="${'professional?id=' + employee.empCode}">Professional Details |</a></li>
				<li><a href="Search">SearchEmployee |</a> </li>
				<li><a href="../Logout" >LogOut</a></li>	
			</ul>
		</div>
	</nav>
	<div>
		<h1>My Profile</h1>
		<table>
			<tr><td>EmpCode</td>
			<td th:text="${employee.empCode}"></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td th:text="${employee.firstName}+' '+${employee.lastName}">firstName</td>
				
			</tr>
			<tr>
				<td>DOB:</td>
				<td th:text="${employee.dob}">DOB</td>
			</tr>
			<tr>
				<td>Gender:</td>
				<td th:text="${employee.gender}">gender</td>
			</tr>
			<tr>
				<td>emailId:</td>
				<td th:text="${employee.emailId}">emailId</td>
			</tr>
			<tr>
				<td>Primary Contact</td>
				<td th:text="${employee.primaryContact}">primary</td>
			</tr>
			<tr>
				<td>Secondary Contact:</td>
				<td th:text="${employee.secondaryContact}">secondary</td>
			</tr>
			<tr>
				<td>SkypeId</td>
				<td th:text="${employee.skypeId}"></td>
			</tr>
		</table>
	</div>
</body>
</html>