<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit Profile</title>
</head>
<body>
<h1>Edit details</h1>
	<form th:object="${employee}" th:action="@{profile}" method="post">
		<table>
			<tr>
				<td>EmpCode:</td>
				<td><input type="text" th:field="*{empCode}"  readonly/></td>
			</tr> 
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{firstName}" readonly />
				<input type="text" th:field="*{lastName}" readonly /></td>
			</tr>
			<tr>
				<td>EmailId</td>
				<td><input type="email" th:field="*{emailId}" readonly/></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="text" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>Dob</td>
				<td><input type="date" th:field="*{dob}"  readonly/></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td><input type="text" th:field="*{gender}" readonly /></td>
			</tr>
			<tr>
		 		<td>PrimaryContact</td>
				<td><input type="text" th:field="*{primaryContact}" /></td>
			</tr>
			<tr>
		 		<td>SecondaryContact</td>
				<td><input type="text" th:field="*{secondaryContact}" /></td>
			</tr>	
			<tr>
				<td>SkypeId</td>
				<td><input type="text" th:field="*{skypeId}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>