<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>Professional Detail</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">MetaPortal</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="${'editSkills?id=' + jobDetails.empCode}">EditSkills |</a> </li>
				<li><a th:href="${'profile?id=' + jobDetails.empCode}">Profile |</a></li>
				<li><a th:href="Search">SearchEmployee |</a> </li>
				<li><a href="Logout" >LogOut</a></li>	
			</ul>
		</div>
	</nav>
	<div>
		<h1>Professional Profile</h1>
		<table>
			<tr><td>EmpCode:</td>
			<td th:text="${jobDetails.empCode}"></td>
			</tr>		
			<tr>
				<td>Date Of Joining:</td>
				<td th:text="${jobDetails.dateOfJoining}">Joining Date</td>
			</tr>
			<tr>
				<td>Experience:</td>
				<td th:text="${jobDetails.totalExp}">Experience</td>
			</tr>
			<tr>
				<td>Designation:</td>
				<td th:text="${jobTitle.jobTitle}">Designation</td>
			</tr>
			<tr>
				<td>Manager Name:</td>
				<td th:text="${manager.firstName}+' '+${manager.lastName}">Manager Name</td>
			</tr>
			<tr>
				<td>Team Lead Name:</td>
				<td th:text="${teamLead.firstName}+' '+${teamLead.lastName}">Team Lead Name</td>
			</tr>
			<tr>
				<td>Current Project Name:</td>
				<td th:text="${project.projectName}">Project Name</td>
			</tr>
			<div th:if="${not #lists.isEmpty(skillList)}">
			 <tr th:each="skill : ${skillList}">
				<td>Skills</td>
                <td th:text="${skill.skillName}">Id</td>
			</tr>
		
			</div>
		</table>
	</div>
</body>
</html>