<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit project Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">MetaPortal</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="Dashboard">Dashboard |</a></li>
				<li><a href="Logout">LogOut</a></li>

			</ul>
		</div>
	</nav>
	<div clas="container">
	<h2 align="center">Add Project</h2>
		<form th:object="${project}" th:action="@{../projects}" method="post">
			<input type="hidden" th:field="*{projectId}" /> <br>
			<div class="col-md-6 col-md-offset-3">
				<label>Name:</label> <input type="text" class="form-control"
					th:field="*{projectName}" /> <br>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<label>Description:</label> <input type="text" class="form-control"
					th:field="*{description}" /> <br>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<label>Start Date:</label> <input type="text" class="form-control"
					th:field="*{startDate}" /> <br>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<label>End Date:</label> <input type="text" class="form-control"
					th:field="*{endDate}" /><br>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<label>isActive</label><table><tr>
					<td><input name="isActive" type="radio" value="True"  th:field="*{isActive}"checked />True</td>
					<td><input name="isActive" type="radio" value="False" th:field="*{isActive}" />False</td>
					</tr></table>
					
			</div>
			<div  class= "col-md-6 col-md-offset-3">
			<button type="submit" class="btn btn-primary">Save</button>
			</div>

		</form>
	</div>
</body>
</html>


