<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">MetaPortal</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="${'projects/add'}">Add Projects |</a></li>
				<li><a href="Dashboard" >Dashboard |</a></li>
				<li><a href="Logout" >LogOut</a></li>
				
			</ul>
		</div>
	</nav>
	<div class="container" align="center">
		<div th:if="${not #lists.isEmpty(projects)}">
			<h2>All Projects</h2>
			
			<table class="table table-striped" cellspacing='20px'>
				<tr align="left">
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>isActive</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="project : ${projects}">
					<td th:text="${project.projectId}">Id</td>
					<td th:text="${project.projectName}">Name</td>
					<td th:text="${project.description}">Description</td>
					<td th:text="${project.startDate}">Start Date</td>
					<td th:text="${project.endDate}">End Date</td>
					<td th:text="${project.isActive}">IsActive</td>
					<td><a th:href="${'projects/edit?id=' + project.projectId}"
						class="btn btn-primary">Edit</a></td>
					<td><a th:href="${'projects/delete?id=' + project.projectId}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</table>
		</div>

	</div>
</body>
</html>