<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit employee Details</title>
</head>
<body>
	<form th:action="@{../Employees}" method="post">
		<div th:object="${employee}">
			<table>
				<tr>
					<td>First Name:</td>
					<td><input type="text" name="firstName" required /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" name="lastName" required /></td>
				</tr>
				<tr>
					<td>Dob</td>
					<td><input type="date" name="dob" required /></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input name="gender" type="radio" value="male" checked />Male</td>
					<td><input name="gender" type="radio" value="female" />Female</td>
					<td><input name="gender" type="radio" value="others" />others</td>
				</tr>
				<tr>
					<td>PrimaryContact</td>
					<td><input type="text" name="primaryContact" required /></td>
				</tr>
				<tr>
					<td>EmailId</td>
					<td><input type="email" name="emailId" required /></td>
				</tr>
			</table>
		</div>
		<div th:object="${jobDetails}">
			<table>
				<tr>
					<td>Date of Joining:</td>
					<td><input type="date" name="dateOfJoining" required /></td>
				</tr>
				<tr>
					<td>Experience in years:</td>
					<td><input type="number" name="totalExp" required /></td>
				</tr>
				<tr>
					<td>JobDesignation</td>
					<td><select name="jobCode"><option
								th:each="jobTitle: ${jobTitles}" th:value="${jobTitle.jobCode}">[[${jobTitle.jobTitle}]]</option>
					</select></td>
				</tr>
				<tr>
					<td>Manager</td>
					<td><select name="reportingManagerId"><option
								th:each="manager: ${managerEmp}" th:value="${manager.empCode}"
								th:text="${manager.firstName}">[[${manager.firstName}]]</option>
					</select></td>
				</tr>
				<tr>
					<td>Team Lead</td>
					<td><select name="teamLeadId"><option
								th:each="team: ${teamLead}" th:value="${team.empCode}"
								th:text="${team.firstName}">[[${team.empCode}]]</option>
					</select></td>
				</tr>
				<tr>
					<td>Project</td>
					<td><select name="currProjId"><option
								th:each="currProj: ${currentProj}" th:value="${currProj.projectId}"
								th:text="${currProj.projectName}">[[${currProj.projectName}]]</option>
					</select></td>
				</tr>

			</table>
		</div>
		<div >
			<table>
				<tr>
					<td>Skills</td>
					<td><select name="skill" multiple>
							<option th:each="skil: ${skills}" th:value="${skil.skillId}"
								th:text="${skil.skillName}">Skill</option>
					</select></td>
				</tr>
			</table>
		</div>
		<input name="submit" type="submit" value="submit"/>
	</form>
</body>
</html>