<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Edit skill Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">MetaPortal</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="redirect:dashboard" >Dashboard |</a></li>
				<li><a href="redirect:../welcome" >LogOut</a></li>
				
			</ul>
		</div>
	</nav>
	
	<div align="center">
	<h1>Enter Skill to add:</h1>
		<form th:object="${skill}" th:action="@{../skills}" method="post">
			<input type="hidden"  th:field="*{skillId}" />
			<br>
			 <label>Name:</label> 
			 <input type="text" th:field="*{skillName}" /> 
			<button type="submit" class="btn btn-primary">Save</button>

		</form>
	</div>
</body>
</html>